$primary-color: #C2185B;
$primary-dark-color: darken($primary-color, 3%);
$primary-alt-color: white;

$secondary-color: darken(#8375DD, 5%);

$black: rgba(black, 0.8);
$red: #DB324D;
$orange: #FC8C24;
$yellow: #FDE747;
$green: #61E294;
$blue: #0BC9CD;
$indigo: #6610F2;
$teal: teal;
$pink: #EC407A;
$burgandy: #AF1B3F;
$darkBlack: #2f2f2f;

$primary-color: $indigo;

$colors: (
	'red': $red,
	'orange': $orange,
	'yellow': $yellow,
	'green': $green,
	'blue': $blue,
	'indigo': $indigo,
	'teal': $teal,
	'pink': $pink,
	'burgandy': $burgandy,
	'darkBlack': $darkBlack,
);

@mixin media($width){
	@media only screen and (max-width: $width){
		@content;
	}
}

$zIndex-tooltip: 1000;