@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;300;400;600&display=swap');

@import "variables";
@import "values";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	color: rgba(black, 0.8);
}

::selection{
	background: $primary-color;
	color: white;
}

h1, h2, h3, h4, h5, h6, p{
	font-weight: 100 !important;
	color: white;
	i{
		font-size: .8em;
		margin-right: 5px;
	}
}
p{
	font-size: 1.2em;
}







.tooltip {
	display: block !important;
	z-index: $zIndex-tooltip;
	.tooltip-inner {
		background: rgba(black, 0.5);
		color: white;
		border-radius: 5px;
		padding: 5px{
			left: 15px;
			right: 15px;
		};
	}
  
	&[x-placement^="top"] {
		margin-bottom: 5px;
	}
  
	&[x-placement^="bottom"] {
		margin-top: 5px;
	}

	&[x-placement^="right"] {
		margin-left: 5px;
	}
  
	&[x-placement^="left"] {
		margin-right: 5px;
	}
  
	&[aria-hidden='true'] {
		visibility: hidden;
		opacity: 0;
		transition: opacity .15s, visibility .15s;
	}
  
	&[aria-hidden='false'] {
		visibility: visible;
		opacity: 1;
		transition: opacity .15s;
	}
  
	&.info {
		$tooltip-color: rgba(#004499, .9);
  
		.tooltip-inner {
			background: $tooltip-color;
			color: white;
			padding: 24px;
			border-radius: 5px;
			box-shadow: 0 5px 30px rgba(black, .1);
		}
  
		.tooltip-arrow {
			border-color: $tooltip-color;
		}
	}
  
	&.popover {
		$tooltip-color: #f9f9f9;

		.popover-inner {
			background: $tooltip-color;
			color: black;
			padding: 24px;
			border-radius: 5px;
			box-shadow: 0 5px 30px rgba(black, .1);
		}

		.popover-arrow {
			border-color: $tooltip-color;
		}
	}
}